# Prerequisites
*.d
TAGS

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# LaTeX
docs/tex/auto/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.pdf
*.run.xml
*.synctex.gz
*.toc

# Doxygen
docs/doxygen/Doxyfile
docs/doxygen/html/

# Autoconf
.deps/
.dirstamp
autom4te.cache/
Makefile
Makefile.in
docs/doxygen/Makefile.in
docs/man/Makefile.in
docs/tex/Makefile.in
src/Makefile.in
tests/Makefile.in
config.h
config.h.in
config.status
configure
stamp-h1
*~

# Binaries
compile
depcomp
install-sh
missing
palm-sync-daemon
tests/helper_check_pdbs_test
tests/helper_iconv_test
tests/helper_hash_test
tests/helper_save_pdbs_test
tests/log_test
tests/org_notes_test
tests/org_notes_write_test
tests/palm-sync-daemon
tests/palm_sync_daemon_test
tests/parser_test
tests/pdb_categories_test
tests/pdb_record_test
tests/memos_test
tests/memos_data_edit_test
tests/tasks_test
tests/pdb_test
test-driver
ylwrap

# Tests
*.trs

# Distribution
palm-sync-daemon-*/
*.tar.gz

# Flex + Bison
src/orgmode/parser/*.c
src/orgmode/parser/parser.h

# Static analysis report
static_analysis_report.txt
